<form [formGroup]="spsadtForm" novalidate>
  <mat-card class="spsadt-card">
    <mat-card-header>
      <mat-card-title>GUIA DE SERVIÇO PROFISSIONAL/ SERVICO AUXILIAR DE DIAGNÓSTICO E TERAPIA - SP/SADT</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table cellspacing="10">
        <tr>
          <td colspan="2">
            <mat-form-field appearance="outline" color="primary" >
              <mat-label>Registro ANS</mat-label>
              <input matInput formControlName="registroAns">
            </mat-form-field>
          </td>
          <td colspan="2">
            <mat-form-field appearance="outline" color="primary" >
              <mat-label>Número Guia Principal</mat-label>
              <input matInput formControlName="numGuiaPrincipal">
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Registro ANS</mat-label>
            <input matInput formControlName="registroAns">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Número Guia Principal</mat-label>
            <input matInput formControlName="numGuiaPrincipal">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline" color="primary">
            <input matInput placeholder="Data da Autorização" formControlName="dataAutorizacao">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline" color="primary">
            <input matInput placeholder="Senha" formControlName="senha">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline" color="primary">
            <input matInput placeholder="Data de validade da senha" formControlName="dataValidadeSenha">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline" color="primary">
            <input matInput placeholder="Número da guia na operadora" formControlName="numGuiaOperadora">
          </mat-form-field>
        </div>
      </div>

      <h5>Dados do Beneficiário</h5>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Número da carteira" formControlName="numCarteira"></textarea>
            <mat-error *ngIf="spsadtForm.controls['numCarteira'].hasError('required')">
              Número da carteira <strong>Obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Validade da carteira" formControlName="dataValidadeCarteira"></textarea>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Nome do beneficiário" formControlName="nomeBeneficiario"></textarea>
            <mat-error *ngIf="spsadtForm.controls['nomeBeneficiario'].hasError('required')">
              Nome do beneficiário <strong>Obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Cartão nacional de saúde" formControlName="numCartaoSaude"></textarea>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Atendimento RN" formControlName="atendimentoRn"></textarea>
          </mat-form-field>
        </div>
      </div>


    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
