<form [formGroup]="spsadtForm" novalidate>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Cadastro de Guia de SP/SADT</mat-card-title>
      <mat-card-subtitle>GUIA DE SERVIÇO PROFISSIONAL/ SERVICO AUXILIAR DE DIAGNÓSTICO E TERAPIA</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col bordered">
          <mat-form-field appearance="outline" color="primary" >
            <mat-label>Registro ANS</mat-label>
            <input matInput formControlName="registroAns">
          </mat-form-field>
        </div>
        <div class="col bordered">
          <mat-form-field appearance="outline" color="primary" >
            <mat-label>Número Guia Principal</mat-label>
            <input matInput formControlName="numGuiaPrincipal">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col bordered">
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Data da Autorização</mat-label>
            <input matInput formControlName="dataAutorizacao">
          </mat-form-field>
        </div>
        <div class="col bordered">
          <mat-form-field appearance="outline" color="primary" >
            <mat-label>Senha</mat-label>
            <input matInput formControlName="senha">
          </mat-form-field>
        </div>
        <div class="col bordered">
          <mat-form-field appearance="outline" color="primary" >
            <mat-label>Validade da senha</mat-label>
            <input matInput formControlName="dataValidadeSenha">
          </mat-form-field>
        </div>
        <div class="col bordered">
          <mat-form-field appearance="outline" color="primary" >
            <mat-label>Número na operadora</mat-label>
            <input matInput formControlName="numGuiaOperadora">
          </mat-form-field>
        </div>
      </div>

      <h5>Dados do Beneficiário</h5>

      <div class="row">
        <div class="col bordered">
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Número da carteira</mat-label>
            <input matInput formControlName="numCarteira">
            <mat-error *ngIf="spsadtForm.controls['numCarteira'].hasError('required')">
              Número da carteira <strong>Obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col bordered">
          <mat-form-field appearance="outline" color="primary" >
            <mat-label>Validade da carteira</mat-label>
            <input matInput formControlName="dataValidadeCarteira">
          </mat-form-field>
        </div>
        <div class="col bordered">
          <mat-form-field appearance="outline" color="primary" >
            <mat-label>Nome do beneficiário</mat-label>
            <input matInput formControlName="nomeBeneficiario">
            <mat-error *ngIf="spsadtForm.controls['nomeBeneficiario'].hasError('required')">
              Nome do beneficiário <strong>Obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col bordered">
          <mat-form-field appearance="outline" color="primary" >
            <mat-label>Cartão nacional de saúde</mat-label>
            <input matInput formControlName="numCartaoSaude">
          </mat-form-field>
         </div>
         <div class="col bordered">
          <mat-form-field appearance="outline" color="primary" >
            <mat-label>Atendimento RN</mat-label>
            <input matInput formControlName="atendimentoRn">
          </mat-form-field>
         </div>
      </div>


    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
